LogicApps/NewHireOnboarding.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_new_email_arrives_(V2)": {
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnectionNotification",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['outlook-1']['connectionId']"
                        }
                    },
                    "fetch": {
                        "pathTemplate": {
                            "template": "/v2/Mail/OnNewEmail"
                        },
                        "method": "get",
                        "queries": {
                            "importance": "Any",
                            "fetchOnlyWithAttachment": false,
                            "includeAttachments": false,
                            "folderPath": "Inbox"
                        }
                    },
                    "subscribe": {
                        "body": {
                            "NotificationUrl": "@listCallbackUrl()"
                        },
                        "pathTemplate": {
                            "template": "/MailSubscriptionPoke/$subscriptions"
                        },
                        "method": "post",
                        "queries": {
                            "importance": "Any",
                            "fetchOnlyWithAttachment": false,
                            "folderPath": "Inbox"
                        }
                    }
                }
            }
        },
        "actions": {
            "Condition": {
                "actions": {},
                "runAfter": {},
                "else": {
                    "actions": {}
                },
                "expression": {
                    "and": [
                        {
                            "contains": [
                                "Subject",
                                "New Hire"
                            ]
                        }
                    ]
                },
                "type": "If"
            },
            "Parse_JSON": {
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()?['Body']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "Name": {
                                "type": "string"
                            },
                            "Title": {
                                "type": "string"
                            },
                            "Department": {
                                "type": "string"
                            },
                            "Email": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "Create_user_1": {
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuread-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "accountEnabled": true,
                        "displayName": "@body('Parse_JSON')?['Name']",
                        "mailNickname": "@{replace(body('Parse_JSON')?['Name'], ' ', '')\r\n}\n",
                        "passwordProfile": {
                            "password": "Password@1234"
                        },
                        "userPrincipalName": "@body('Parse_JSON')?['Email']"
                    },
                    "path": "/v1.0/users"
                }
            },
            "Add_user_to_group_1": {
                "runAfter": {
                    "Create_user_1": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuread-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "@@odata.id": "@body('Create_user_1')?['id']"
                    },
                    "path": "/v1.0/groups/@{encodeURIComponent('41f74b9b-5b58-4604-bbd4-17519bc73e06')}/members/$ref"
                }
            },
            "Send_an_email_(V2)_": {
                "runAfter": {
                    "Create_or_update_a_template_deployment": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['outlook-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "To": "@body('Parse_JSON')?['Email']",
                        "Subject": "Welcome to the Company!",
                        "Body": "<p class=\"editor-paragraph\">Hi @{body('Parse_JSON')?['Name']},<br><br>Welcome to the company! 🎉<br><br>We’re excited to have you join us as our new @{body('Parse_JSON')?['Title']}.<br>Please check your account details and access instructions.<br><br>If you have any questions, feel free to reach out to IT Support.<br><br>Best Regards,<br>The IT Team</p><br>",
                        "Importance": "Normal"
                    },
                    "path": "/v2/Mail"
                }
            },
            "Create_or_update_a_template_deployment": {
                "runAfter": {
                    "Add_user_to_group_1": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['arm']['connectionId']"
                        }
                    },
                    "method": "put",
                    "body": {
                        "properties": {
                            "template": {
                                "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
                                "contentVersion": "1.0.0.0",
                                "resources": [
                                    {
                                        "type": "Microsoft.Compute/virtualMachines",
                                        "apiVersion": "2022-03-01",
                                        "name": "newOnboardingVM",
                                        "location": "eastus",
                                        "properties": {
                                            "hardwareProfile": {
                                                "vmSize": "Standard_B1ls"
                                            },
                                            "storageProfile": {
                                                "imageReference": {
                                                    "publisher": "Canonical",
                                                    "offer": "UbuntuServer",
                                                    "sku": "18.04-LTS",
                                                    "version": "latest"
                                                },
                                                "osDisk": {
                                                    "createOption": "FromImage"
                                                }
                                            },
                                            "osProfile": {
                                                "computerName": "newOnboardingVM",
                                                "adminUsername": "azureuser",
                                                "adminPassword": "P@ssword1234!"
                                            },
                                            "networkProfile": {
                                                "networkInterfaces": []
                                            }
                                        }
                                    }
                                ]
                            },
                            "mode": "Incremental"
                        }
                    },
                    "path": "/subscriptions/@{encodeURIComponent('eed3ed69-9338-4177-8462-92e0bea8eeff')}/resourcegroups/@{encodeURIComponent('OnBoarding-RG')}/providers/Microsoft.Resources/deployments/@{encodeURIComponent('OnBoardingDeployment')}",
                    "queries": {
                        "x-ms-api-version": "2016-06-01",
                        "wait": false
                    }
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "outlook-1": {
                    "id": "/subscriptions/eed3ed69-9338-4177-8462-92e0bea8eeff/providers/Microsoft.Web/locations/eastus/managedApis/outlook",
                    "connectionId": "/subscriptions/eed3ed69-9338-4177-8462-92e0bea8eeff/resourceGroups/OnBoarding-RG/providers/Microsoft.Web/connections/outlook-1",
                    "connectionName": "outlook-1"
                },
                "azuread-1": {
                    "id": "/subscriptions/eed3ed69-9338-4177-8462-92e0bea8eeff/providers/Microsoft.Web/locations/eastus/managedApis/azuread",
                    "connectionId": "/subscriptions/eed3ed69-9338-4177-8462-92e0bea8eeff/resourceGroups/OnBoarding-RG/providers/Microsoft.Web/connections/azuread-1",
                    "connectionName": "azuread-1"
                },
                "arm": {
                    "id": "/subscriptions/eed3ed69-9338-4177-8462-92e0bea8eeff/providers/Microsoft.Web/locations/eastus/managedApis/arm",
                    "connectionId": "/subscriptions/eed3ed69-9338-4177-8462-92e0bea8eeff/resourceGroups/OnBoarding-RG/providers/Microsoft.Web/connections/arm-2",
                    "connectionName": "arm-2"
                }
            }
        }
    }
}
